<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 1、缓存设置 -->
	<settings>
		<!-- 配置mybatis运行过程中日志输出的技术选型的，mybatis支持多种日志输出，内置STDOUT_LOGGING -->
		<!-- 配置这个之后，mybatis运行过程中会输出执行的sql语句 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />
		<setting name="lazyLoadingEnabled" value="true"></setting>
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="cacheEnabled" value="true" />
	</settings>
	<!-- 2、起别名 -->
	<typeAliases>
		<!--<typeAlias type="com.god.domain.User" alias="user" />-->
	</typeAliases>
	<!-- 3、设置分页插件数据库方言 -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<property name="helperDialect" value="mysql"/>
		</plugin>
	</plugins>

</configuration>