<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--1、数据源  -->
    <bean id="adminRealm" class="com.qfedu.shiro.AdminRealm"></bean>
    <!--2、管理器  -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="adminRealm"></property>
    </bean>
    <!--3、过滤器工厂  -->
    <!--配置ShiroFilter-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--管理器  -->
        <property name="securityManager" ref="securityManager"></property>
        <!--登入页面-->
        <property name="loginUrl" value="/login.html"></property>
        <!--登入成功页面-->
        <property name="successUrl" value="/index.html"/>
        <!-- 错误页面 -->
        <property name="unauthorizedUrl" value="/unauth.html"></property>
        <!--URL的拦截-->
        <property name="filterChainDefinitions" >
            <value>
                /media/**=anon
                /login.html=anon
                /adminlogin.do=anon
                /goodsadd.html=anon
                /addGoods.do=anon
                /goodsslist.html=anon
                /goodslist.do=anon
                /delGoods.do=anon
                /goodssupdate.html=anon
                /updateGoods.do=anon
                /roleall.do=anon
                /photoadd.html=anon
                /uploadfile.do=anon
                /addimg.do=anon
                /**=authc
            </value>
        </property>
    </bean>
</beans>