<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="adminRealm" class="com.qfedu.shiro.AdminRealm"></bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="adminRealm"></property>
    </bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">

        <property name="securityManager" ref="securityManager"></property>

        <property name="loginUrl" value="/login.html"></property>

        <property name="successUrl" value="/index.html"/>

        <property name="unauthorizedUrl" value="/unauth.html"></property>

        <property name="filterChainDefinitions" >
            <value>
                /media/**=anon
                /login.html=anon
                /adminlogin.do=anon
                /goodsadd.html=anon
                /addGoods.do=anon
                /goodsslist.html=anon
                /goodslist.do=anon
                /delGoods.do=anon
                /goodssupdate.html=anon
                /updateGoods.do=anon
                /roleall.do=anon
                /photoadd.html=anon
                /uploadfile.do=anon
                /addimg.do=anon
                /**=authc
            </value>
        </property>
    </bean>
</beans>